name: build

permissions:
  contents: write

on:
  workflow_call:
    inputs:
      CHANGELOG:
        required: true
        type: string
      VERSION:
        required: true
        type: string

jobs:
  build:
    strategy:
      fail-fast: false
      matrix:
        target: [x86_64-linux]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Zig
        uses: mlugg/setup-zig@v2

      - name: Build
        run: zig build -Doptimize=ReleaseSafe -Dtarget=${{ matrix.target }}

      - name: Release
        uses: softprops/action-gh-release@v2
        with:
          files: zig-out/bin/*
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ inputs.VERSION }}
          body: ${{ inputs.CHANGELOG }}
